<form>
    <label for="from">Data from</label>
    <input type="date">
    <label for="to">Data to</label>
    <input type="date">
    <label for="totalDeaths"></label>
    <input type="radio">
    <label for="dailyDeaths"></label>
    <input type="radio">
    <label for="totalCases"></label>
    <input type="radio">
    <label for="dailyCases"></label>
    <input type="radio">
    <label for="total"></label>
    <input type="radio">
</form>

<div style="display: block;">
    <canvas baseChart width="1800" height="800"
      [datasets]="config.lineChartData"
      [labels]="config.lineChartLabels"
      [options]="config.lineChartOptions"
      [colors]="config.lineChartColors"
      [chartType]="'line'">
    </canvas>
</div>
