body{
    padding: 0;
    margin: 0;
    background: #a7b1c4;
}

.chart-flex-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-wrapper{
    display: inline-block;
    margin: 15px;
    padding: 15px;
    text-align: center;
    form{
        label{
            margin: 0 15px;
        }
    }
}